.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 840px;
  height: 200%;
  margin-top: 8rem;
}

.card{
  margin-top: 40px;
}

.formwrapper{
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.mat-mdc-card-header {
  display: flex;
  padding: 16px 16px 20px;
  justify-content: center;
  align-items: center;

}

.mat-mdc-card-title{
  position: relative;
  top: 1rem;
  font-size: 2.2rem;
  color: #00458f;
  font-weight: 500;
}

.custom-label{
  color: #00458f;
}
.matform{
  padding: 10px;
}
.textfield1 {
  width: 14rem !important; 
  color: #00458f !important; 
}
.custom-button {
  background-color: #00458f;
  border-radius: 10px !important; /* Adjust the radius value */
  color: white;
}
.custom-toggle-password-button{
  color: #00458f;
}
img{
  height: 25rem;
  filter: drop-shadow(0 0 2em #646cffaa);
}

img:hover {
  filter: drop-shadow(0 0 2em #00458f);
  transition: all 0.3s;
}
@media (max-width: 576px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
    margin-top: -1rem;
  }

  .card{
    margin-top: 30px;
    height: 35rem;
  }
  .formwrapper{
    padding: 0px 10px;
  }
  img{
    height: 16rem;    
    max-width: 18rem;
  }
}


