CREATE PROC [GetEmployee]   
(  
 @EmployeeId BIGINT,  
 @OrganisationId BIGINT  
)  
AS  
BEGIN  
 SELECT   
  E.EmployeeId,   
  E.OrganizationId,
  ED.EmployeeName,  
  ED.OrganisationEmail,  
  ED.PersonalEmail,  
  ED.Mobile,  
  R.Role,  
  R.Stamp,  
  D.DepartementName,  
  O.OrgnizationName,  
  ED.IsActive  
    
 FROM TblEmployee E   
 INNER JOIN TblOragnizations O ON O.OrgnisationID=E.OrganizationId  
 INNER JOIN TblEmployeeDetails ED ON ED.EmployeeId=E.EmployeeId  
 INNER JOIN TblRoles R ON R.RoleId=E.RoleId  
 INNER JOIN TblDepartments D ON D.DepartmentId=E.DepartmentId  
 INNER JOIN TblPaymentDetails PD ON PD.PaymentID=E.PaymentID  
 WHERE E.OrganizationId=@OrganisationId AND E.EmployeeId=@EmployeeId  
END    