
CREATE PROC [InsertEmployeeLeave]
(
	@EmployeeId BigInt,
	@AppliedDate Date,
	@Status SmallInt,
	@AppliedReason Nvarchar(500),
	@FromDate Date,
	@ToDate Date,
	@NoofDays Float,
	@result SmallInt Out
)
AS
BEGIN
	set nocount on;

	DECLARE @ID BigInt,@TotalDays Float,@DeductedDays Float

	SELECT @ID=yla.EmployeeLeavesAssignedId,@TotalDays=yla.TotalLeaves from TblEmployee e inner join TblEmployeeLeavesAssigned yla 
	on e.EmployeeLeavesAssignedId=yla.EmployeeLeavesAssignedId Where e.EmployeeId=@EmployeeId

	IF (@TotalDays<@NoofDays)
	BEGIN
		SET @result=8
	END
	ELSE
	BEGIN
		SET @result=1
		Insert into TblEmployeeLeaves
		(
			EmployeeId,
			AppliedDate,
			Status,
			AppliedReason,
			FromDate,
			ToDate,
			NoofDays,
			IsApproved,
			IsArchived,
			IsRejected
			) 
			Values 
			(
			@EmployeeId,
			@AppliedDate,
			@Status,
			@AppliedReason,
			@FromDate,
			@ToDate,
			@NoofDays,
			0,
			0,
			0
		)
		Set @DeductedDays=@TotalDays-@NoofDays
		
		Update TblEmployeeLeavesAssigned Set TotalLeaves=@DeductedDays where EmployeeLeavesAssignedId=@ID
	END
end