
CREATE PROC [InsertExceptionLogs]
(
	@ClassName  NVARCHAR(150),
	@ActionName NVARCHAR(150),
	@Exception  NVARCHAR(500),
	@SiteName  NVARCHAR(500),
	@CreatedDateTime DateTime
)
AS
BEGIN
	DECLARE @result SMALLINT
	
	INSERT INTO TsyExceptionLogs (ClassName, ActionName, ExceptionMessage, SiteName, CreatedDateTime) VALUES (@ClassName, @ActionName, @Exception, @SiteName, @CreatedDateTime)
END