CREATE proc [LoginEmployee]  
 (    
  @UserName Nvarchar(100),    
  @Password Nvarchar(100)    
 )    
AS    
SET NOCOUNT ON;    
BEGIN    
DECLARE @EmployeeId BIGINT=0,@OrgnisationId BIGINT=0,@DepartmentId BIGINT=0,@RoleId BIGINT=0,@OrgnisationEmail nvarchar(200),@IsActive Bit=0;    
 IF Exists(SELECT 1 FROM 
 TblEmployee e 
 JOIN TblEmployeeDetails ed on ed.EmployeeId=e.EmployeeId
 JOIN TblEmployeeSecurity es on es.EmployeeId=e.EmployeeId 
 WHERE ed.OrganisationEmail=@UserName AND CONVERT(nvarchar(100),DECRYPTBYPASSPHRASE('PayrollSystem2024',es.UserPassword))=@Password)    
 BEGIN    
  SELECT @EmployeeId=e.EmployeeId,@OrgnisationId=e.OrganizationId,@DepartmentId=e.DepartmentId,@RoleId=r.Stamp,@IsActive=ed.IsActive,@OrgnisationEmail=ed.OrganisationEmail  FROM 
  TblEmployee e     
  JOIN TblEmployeeDetails ed on ed.EmployeeId=e.EmployeeId
  JOIN TblEmployeeSecurity es on es.EmployeeId=e.EmployeeId
  JOIN TblRoles r on e.RoleId=r.RoleId
  WHERE ed.OrganisationEmail=@UserName AND CONVERT(nvarchar(100),DECRYPTBYPASSPHRASE('PayrollSystem2024',es.UserPassword))=@Password    
 END    
 SELECT @EmployeeId as EmployeeId,@OrgnisationId as OrgnisationId,@DepartmentId as  DepartmentId,@RoleId as RoleId,@IsActive as IsActive,@OrgnisationEmail as OrgnisationEmail    
END 