CREATE PROC [RegeisterNewPassword]  
 @EmailId NVARCHAR(100),  
 @Password NVARCHAR(50),  
 @result int out  
AS  
SET NOCOUNT ON  
BEGIN  
 DECLARE @ID BIGINT=0  
	IF NOT EXISTS (SELECT 1 FROM TblEmployee E INNER JOIN  TblEmployeeDetails ED ON E.EmployeeId=ED.EmployeeId WHERE ED.OrganisationEmail=@EmailId)  
		BEGIN  
			SET @result=3  
		END  
	ELSE   
		BEGIN  
			SELECT @ID=e.EmployeeId from TblEmployee E INNER JOIN TblEmployeeDetails ED ON E.EmployeeId=ED.EmployeeId WHERE ED.OrganisationEmail=@EmailId and ED.IsPasswordChangeActive=1  
			IF(@ID!=0)  
				BEGIN  
					INSERT INTO 
					TblEmployeeSecurity (EmployeeId,UserPassword) VALUES (@ID,ENCRYPTBYPASSPHRASE('PayrollSystem2024',@Password))  
					UPDATE TblEmployeeDetails SET IsPasswordChangeActive=0  WHERE EmployeeId=@ID
					SET @result=1  
				END  
			ELSE   
				BEGIN  
					SET @result=2  
				END  
			END  
SELECT @result a