CREATE PROC [RegisterNewEmployee]
(
 	@OrgnisationID	BIGINT,
	@DepartmentId	BIGINT,
	@EmployeeId BIGINT,
	@RoleId		BIGINT,
	@EmployeeName	   NVARCHAR(200),
	@OrganisationEmail NVARCHAR(50),
	@PersonalEmail	NVARCHAR(50),
	@Mobile		NVARCHAR(20),
	@MobileNoCode NVARCHAR(20),
	@CTC FLOAT,
	@GrossPay FLOAT,
	@NetPay FLOAT,
	@result SMALLINT OUT
)
AS
	SET NOCOUNT ON;
BEGIN
	DECLARE @PaymentId BIGINT=0,@E_Id BIGINT=0;

	IF EXISTS(SELECT 1 FROM Employee e INNER JOIN EmployeeDetails ed on e.EmployeeId=ed.EmployeeId WHERE ed.OrganisationEmail=@OrganisationEmail AND ed.IsActive=1)	
	BEGIN
		SET @result=3
	END
	
	ELSE 
	BEGIN
		IF (@EmployeeId=0)
			BEGIN
				INSERT INTO TblPaymentDetails(CTC,GrossPay,NetPay) VALUES (@CTC,@GrossPay,@NetPay)
				SET @PaymentId=SCOPE_IDENTITY()

				INSERT INTO TblEmployee(OrganizationId,DepartmentId,PaymentID,RoleId) VALUES(@OrgnisationID,@DepartmentId,@PaymentId,@RoleId)
				SET @E_Id=SCOPE_IDENTITY()
		
				INSERT INTO TblEmployeeDetails(
				EmployeeId,
				EmployeeName,
				OrganisationEmail,
				PersonalEmail,
				Mobile,
				MobileNoCode,
				IsActive,
				IsPasswordChangeActive
				) 
				VALUES (
				@E_Id,
				@EmployeeName,
				@OrganisationEmail,
				@PersonalEmail,
				@Mobile,
				@MobileNoCode,
				1,
				1
				)
			END
		ELSE
			BEGIN
				SELECT @PaymentId=E.PaymentID FROM TblEmployee E INNER JOIN TblPaymentDetails PD ON PD.PaymentID=E.PaymentID WHERE E.EmployeeId=@EmployeeId;

				UPDATE TblPaymentDetails SET
				CTC=@CTC,
				GrossPay=@GrossPay,
				NetPay=@NetPay
				WHERE PaymentID=@PaymentId

				UPDATE TblEmployee
				SET 
				OrganizationId=@OrgnisationID,
				DepartmentId=@DepartmentId,
				RoleId=@RoleId
				WHERE EmployeeId=@EmployeeId

				UPDATE TblEmployeeDetails 
				SET 
				EmployeeName=@EmployeeName,
				OrganisationEmail=@OrganisationEmail,
				PersonalEmail=@PersonalEmail,
				Mobile=@Mobile,
				MobileNoCode=@MobileNoCode
				WHERE EmployeeId=@EmployeeId

			END
		SET @result=1
	END
	SELECT @result as result
END
