USE [Payroll]
GO
/****** Object:  StoredProcedure [dbo].[InsertExceptionLogs]    Script Date: 11/30/2025 2:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[InsertExceptionLogs]
(
	@ClassName  NVARCHAR(150),
	@ActionName NVARCHAR(150),
	@Exception  NVARCHAR(500),
	@SiteName  NVARCHAR(500),
	@CreatedDateTime DateTime
)
AS
BEGIN
	DECLARE @result SMALLINT
	
	INSERT INTO ExceptionLogs (ClassName, ActionName, ExceptionMessage, SiteName, CreatedDateTime) VALUES (@ClassName, @ActionName, @Exception, @SiteName, @CreatedDateTime)
END