USE [Payroll]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployee]    Script Date: 11/30/2025 2:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[GetEmployee]   
(  
 @EmployeeId BIGINT,  
 @OrganisationId BIGINT  
)  
AS  
BEGIN  
 SELECT   
  E.EmployeeId,   
  E.OrganizationId,
  ED.EmployeeName,  
  ED.OrganisationEmail,  
  ED.PersonalEmail,  
  ED.Mobile,  
  R.Role,  
  R.Stamp,  
  D.DepartementName,  
  O.OrgnizationName,  
  ED.IsActive  
    
 FROM Employee E   
 INNER JOIN Oragnizations O ON O.OrgnisationID=E.OrganizationId  
 INNER JOIN EmployeeDetails ED ON ED.EmployeeId=E.EmployeeId  
 INNER JOIN Roles R ON R.RoleId=E.RoleId  
 INNER JOIN Departments D ON D.DepartmentId=E.DepartmentId  
 INNER JOIN PaymentDetails PD ON PD.PaymentID=E.PaymentID  
 WHERE E.OrganizationId=@OrganisationId AND E.EmployeeId=@EmployeeId  
  
END  
  
  
  
  
  