USE [Payroll]
GO
/****** Object:  StoredProcedure [dbo].[LoginEmployee]    Script Date: 11/30/2025 2:06:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[LoginEmployee]  
 (    
  @UserName Nvarchar(100),    
  @Password Nvarchar(100)    
 )    
AS    
SET NOCOUNT ON;    
BEGIN    
DECLARE @EmployeeId BIGINT=0,@OrgnisationId BIGINT=0,@DepartmentId BIGINT=0,@RoleId BIGINT=0,@OrgnisationEmail nvarchar(200),@IsActive Bit=0;    
 IF Exists(SELECT 1 FROM Employee e 
 JOIN EmployeeDetails ed on ed.EmployeeId=e.EmployeeId
 JOIN EmployeeSecurity es on es.EmployeeId=e.EmployeeId 
 WHERE ed.OrganisationEmail=@UserName AND CONVERT(nvarchar(100),DECRYPTBYPASSPHRASE('PayrollSystem2024',es.UserPassword))=@Password)    
 BEGIN    
  SELECT @EmployeeId=e.EmployeeId,@OrgnisationId=e.OrganizationId,@DepartmentId=e.DepartmentId,@RoleId=r.Stamp,@IsActive=ed.IsActive,@OrgnisationEmail=ed.OrganisationEmail  FROM Employee e     
  JOIN EmployeeDetails ed on ed.EmployeeId=e.EmployeeId
  JOIN EmployeeSecurity es on es.EmployeeId=e.EmployeeId
  JOIN Roles r on e.RoleId=r.RoleId
  WHERE ed.OrganisationEmail=@UserName AND CONVERT(nvarchar(100),DECRYPTBYPASSPHRASE('PayrollSystem2024',es.UserPassword))=@Password    
 END    
 SELECT @EmployeeId as EmployeeId,@OrgnisationId as OrgnisationId,@DepartmentId as  DepartmentId,@RoleId as RoleId,@IsActive as IsActive,@OrgnisationEmail as OrgnisationEmail    
END 