USE [Payroll]
GO
/****** Object:  StoredProcedure [dbo].[InsertEmployeeLeave]    Script Date: 11/30/2025 2:06:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[InsertEmployeeLeave]
(
	@EmployeeId BigInt,
	@AppliedDate Date,
	@Status SmallInt,
	@AppliedReason Nvarchar(500),
	@FromDate Date,
	@ToDate Date,
	@NoofDays Float,
	@result SmallInt Out
)
as
begin
	set nocount on;

	DECLARE @ID BigInt,@TotalDays Float,@DeductedDays Float

	SELECT @ID=yla.EmployeeLeavesAssignedId,@TotalDays=yla.TotalLeaves from Employee e inner join YearlyLeavesAssigned yla on e.EmployeeLeavesAssignedId=yla.EmployeeLeavesAssignedId Where e.EmployeeId=@EmployeeId

	IF (@TotalDays<@NoofDays)
	BEGIN
		SET @result=8
	END
	ELSE
	BEGIN
		SET @result=1
		Insert into EmployeeLeaves
		(
			EmployeeId,
			AppliedDate,
			Status,
			AppliedReason,
			FromDate,
			ToDate,
			NoofDays,
			IsApproved,
			IsArchived,
			IsRejected
			) 
			Values 
			(
			@EmployeeId,
			@AppliedDate,
			@Status,
			@AppliedReason,
			@FromDate,
			@ToDate,
			@NoofDays,
			0,
			0,
			0
		)

		Set @DeductedDays=@TotalDays-@NoofDays
		Update YearlyLeavesAssigned Set TotalLeaves=@DeductedDays where EmployeeLeavesAssignedId=@ID
	END
end