USE [Payroll]
GO
/****** Object:  StoredProcedure [dbo].[RegeisterNewPassword]    Script Date: 11/30/2025 2:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[RegeisterNewPassword]  
 @EmailId NVARCHAR(100),  
 @Password NVARCHAR(50),  
 @result int out  
As  
SET NOCOUNT ON  
BEGIN  
 DECLARE @ID BIGINT=0  
	IF NOT EXISTS (SELECT 1 FROM Employee E INNER JOIN  EmployeeDetails ED ON E.EmployeeId=ED.EmployeeId WHERE ED.OrganisationEmail=@EmailId)  
		BEGIN  
			SET @result=3  
		END  
	ELSE   
		BEGIN  
			SELECT @ID=e.EmployeeId from Employee E INNER JOIN EmployeeDetails ED ON E.EmployeeId=ED.EmployeeId WHERE ED.OrganisationEmail=@EmailId and ED.IsPasswordChangeActive=1  
			IF(@ID!=0)  
				BEGIN  
					INSERT INTO EmployeeSecurity (EmployeeId,UserPassword) VALUES (@ID,ENCRYPTBYPASSPHRASE('PayrollSystem2024',@Password))  
					UPDATE EmployeeDetails SET IsPasswordChangeActive=0  WHERE EmployeeId=@ID
					SET @result=1  
				END  
			ELSE   
				BEGIN  
					SET @result=2  
				END  
			END  
SELECT @result as result   
END